@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

img {
  display: block;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h4 {
  font-size: 40px;
  color: #282828;
  font-weight: 700;
}

p {
  font-size: 17px;
  color: #262626;
  font-weight: 100;
  line-height: 1.5;
}

.container {
  width: 92%; /*반응형*/
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.go_top {
  position: fixed; /*고정*/
  right: 30px;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.12);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

/* header */
.header {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  color: #f5f5f7;
  position: fixed;
  width: 100%;
  max-height: 44px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
}

.header .nav li {
  opacity: 0.8;
}

.header .nav li:hover {
  opacity: initial;
  color: #fff;
}

.header .container {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 27px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
}

.nav a {
  display: block;
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
}

.nav a:last-child {
  padding: inherit;
}

.bars {
  display: none;
}

/* slide  */
.top_img {
  background: url(../images/slide_01.jpg) no-repeat center / cover;
  height: 100vh;
}

/* section_01 */
.section_01 {
  display: flex;
  justify-content: center;
}

.section_01 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 175px 0;
}

.section_01 .text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.section_01 h4 {
  padding-bottom: 80px;
}

.section_01 p {
  line-height: 2;
}

.section_01 .photo {
  display: block;
}

/* section_02 */
.section_02 {
  height: 1000px;
  background: url(../images/bg.png) no-repeat center / cover;
  /* filter: brightness(50%); */
}

.section_02 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 285px 0;
}

.section_02 .photo {
  margin-right: 130px;
}

.section_02 p {
  color: #fff;
  line-height: 2;
}

/* section_03 */
.section_03 {
  padding: 230px 0;
}

.section_03 .container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section_03 h4 {
  padding-bottom: 150px;
}

.tool {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 200px;
  /* flex-wrap: wrap; */
}

.tool p {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0 50px;
  line-height: 1.4;
}

/* footer */
.footer {
  background: #f5f5f7;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #86868b;
  padding: 20px 0;
  font-size: 11px;
}

/* 미디어 쿼리  모바일*/
@media (max-width: 770px) {
  .container {
    width: 92%; /*반응형*/
  }

  .header {
    background: #2e2e2e;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    position: fixed;
    max-height: initial;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box; /*padding 값 때문에 필요*/
  }

  .header .container {
    position: relative;
  }

  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s;
  }

  .nav.active {
    left: 0;
  }

  .nav li a {
    padding: 20px 0;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bars {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .bars i {
    font-size: 30px;
  }

  .bars.fixed {
    position: fixed;
    top: 26px;
    left: 30px;
  }

  .tool {
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;
  }
}
