@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

img {
  display: block;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h4 {
  font-size: 40px;
  color: #282828;
  font-weight: 700;
}

p {
  font-size: 17px;
  color: #262626;
  font-weight: 100;
  line-height: 1.5;
}

.container {
  width: 92%; /*반응형*/
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.go_top {
  position: fixed; /*고정*/
  right: 30px;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.12);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

/* header */
.header {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  color: #f5f5f7;
  position: fixed;
  width: 100%;
  max-height: 44px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
}

.header .nav li {
  opacity: 0.8;
}

.header .nav li:hover {
  opacity: initial;
  color: #fff;
}

.header .container {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 27px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
}

.nav a {
  display: block;
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
}

.nav a:last-child {
  padding: inherit;
}

.bar {
  display: none;
}

/* slide  */
.top_img {
  background: url(../images/slide_01.jpg) no-repeat center / cover;
  height: 100vh;
}

/* section_01 */
.section_01 {
  display: flex;
  justify-content: center;
}

.section_01 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 175px 0;
}

.section_01 .text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 450px;
}

.section_01 h4 {
  padding-bottom: 80px;
}

.section_01 p {
  line-height: 2;
}

.section_01 .photo {
  display: block;
}

/* section_02 */
.section_02 {
  height: 1000px;
  background: url(../images/bg.png) no-repeat center / cover;
  /* filter: brightness(50%); */
}

.section_02 .container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0 auto; */
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  gap: 50px;
}

.section_02 p {
  color: #fff;
  line-height: 2;
}

/* section_03 */
.section_03 {
  padding: 230px 0;
}

.section_03 .container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section_03 h4 {
  padding-bottom: 150px;
}

.tool {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* flex-wrap: wrap; */
}

.tool li {
  display: block;
  align-items: center;
}

.tool li img {
  display: inline-block;
  width: 83px;
  padding-bottom: 10px;
}

.tool p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 50px;
}

/* test */
.pie-chart {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.3s;
}

.white_bg {
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.pie-chart1 span {
  background: #0d2940;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  font-size: 18px;
  font-weight: bold;
  color: #3cacff;
  transform: translate(-50%, -50%);
}

.pie-chart2 span {
  background: #330000;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  font-size: 18px;
  font-weight: bold;
  color: #ff9f0d;
  transform: translate(-50%, -50%);
}

.pie-chart7 span {
  background: #f2bf26;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  transform: translate(-50%, -50%);
}

.pie-chart3 .percent {
  color: inherit;
}

/* footer */
.footer {
  background: #f5f5f7;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #86868b;
  font-size: 11px;
  padding: 20px 0;
}

/* 미디어 쿼리  모바일*/
@media (max-width: 770px) {
  .container {
    width: 92%; /*반응형*/
  }

  .container .logo {
    width: 27px;
  }

  .header {
    background: #2e2e2e;
    /* font-weight: 300; */
    /* letter-spacing: 1px; */
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    position: fixed;
    max-height: initial;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box; /*padding 값 때문에 필요*/
  }

  .header .container {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s;
    background-position: left center;
  }

  .nav.on {
    left: 0;
  }

  .nav li a {
    margin: 20px 0;
    font-size: 17px;
    border-bottom: 1px solid #424245;
    width: 250px;
  }

  /* hamburger bar */
  .bar {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 26px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bar span {
    width: 100%;
    height: 1px;
    background: white;
    position: relative;
    transition: background 0.3s;
  }

  .bar span::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    transition: top 0.3s, transform 0.3s;
  }

  .bar span::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    transition: bottom 0.3s, transform 0.3s;
  }

  .bar.on span {
    background: transparent;
  }
  .bar.on span::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .bar.on span::after {
    bottom: 0;
    transform: rotate(+45deg);
  }

  /* top_img  */
  .top_img {
    background: url(../images/slide_01.jpg) no-repeat center / cover;
    background-position-x: -250px;
    height: 100vh;
  }

  /* section_01  */
  .section_01 .container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 175px 0;
  }

  .section_01 .photo {
    margin-bottom: 40px;
  }

  /* section_02 */
  .section_02 {
    height: 1000px;
    background: url(../images/bg.png) no-repeat center / cover;
    /* filter: brightness(-50%); */
  }

  .section_02 .container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 0 auto; */
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    gap: 50px;
  }

  .section_02 .photo {
    width: 250px;
  }

  /* tool  */
  .tool {
    grid-template-columns: repeat(3, 1fr);
  }
}
