.title {
  position: relative;
  top: 400px;
  text-align: center;
  font-size: 60px;
  z-index: 1;
  font-weight: 700;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background: url('../images/03_contents/scroll_effect_bg.jpg') no-repeat center / cover; /*포지션, 사이즈*/
  background-attachment: fixed; /*bg 고정*/
  clip-path: circle(0px at center center); /*이미지에 마스크 적용*/
}

.title_text {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title_text {
  position: relative;
  margin-top: 200vh;
  background: #fff;
  padding-bottom: 100px;
  z-index: 10;
}

.title_text > h4 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 130px;
}

.title_text > p {
  font-size: 17px;
  line-height: 1.6;
  padding: 50px 0 130px;
}

/* card */
.cards {
  max-width: 1000px;
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.card {
  /* width: 640px;
  height: 400px; */
  background: #c4c4c4;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
