h4 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 130px;
}

p {
  font-size: 17px;
  line-height: 1.6;
  padding: 50px 0;
}

.contents_01 {
}

.contents_01 .container {
  text-align: center;
  justify-content: center;
  align-items: center;
}
